@model DanhSachViewModel

@{ ViewData["Title"] = "Danh sách thí sinh";

}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách thí sinh</h6>
    </div>
    <div class="card-body">
        <form method="POST" class="row">
            <div class="col-md-4 form-group">
                <label class="form-label">Khoa thi</label>
                <select class="form-select" id="khoaThi" name="khoaThi" asp-items="@(new SelectList(ViewBag.KhoaThi, "MaKhoaThi", "TenKhoaThi"))">
                    <option selected="selected" value="">-- Chọn khoá thi --</option>
                </select>
            </div>
            <div class="col-md-4 form-group">
                <label class="form-label">Phòng thi</label>
                <select class="form-select" id="phongThi" name="phongThi">
                </select>
            </div>
            <div class="col-md-4 form-group">
                <div class="input-group">
                    <button style="margin-top:30px;" class="btn btn-dark" type="submit">Tìm kiếm</button>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>SBD</th>
                        <th>CMND</th>
                        <th>Họ tên</th>
                        <th>Giới tính</th>
                        <th>Ngày sinh</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model.SBDs != null)
                        {
                            foreach (var sbd in Model.SBDs)
                            {
                                <tr>
                                    <td>@sbd.SBD </td>
                                    <td>@sbd.CMND </td>
                                    <td>@sbd.ThiSinh.HoTen</td>
                                    <td>@sbd.ThiSinh.GioiTinh</td>
                                    <td>@sbd.ThiSinh.NgaySinh</td>
                                    <td>
                                        <a class="btn btn-success" asp-action="ThongTin" asp-controller="ThongTin" asp-route-sdt="@sbd.ThiSinh.SDT" asp-route-hoten="@sbd.ThiSinh.HoTen"><i class="fas fa-id-badge"></i></a>
                                        <a class="btn btn-success" asp-action="ChungNhan" asp-controller="ChungNhan" asp-route-sbd="@sbd.SBD"><i class="fas fa-certificate"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    $(document).ready(function () {
        $(document).on("change", "#khoaThi", function () {
            var subCat = this;
            $.ajax({
                url: "DanhSach/ReturnJsonList/?khoaThi=" + $(subCat).val(),
                type: "GET",
                contentType: "application/json; charset=utf-8",
                datatype: JSON,
                success: function (result) {
                    var categories = "";
                    $(result).each(function (k,v) {
                        categories = categories + '<option value="' + v["maPhongThi"] + '">' + v["tenPhong"] + '</option>'
                    });

                    var subCateList = $("#phongThi");
                    subCateList.empty();
                    subCateList.append(categories);
                },
                error: function (data) {
                    return "Error";
                }
            });
        });
    });
    </script>
}
